<h1>HUD for Watercraft. (2) </h1>
<h2>Buy our shit.</h2>

<p>This is a test html body for the HUD for Watercraft 2 website.
This is to test out the scss and styling attributes.</p>

<%= link_to 'List or articles', controller: 'articles' %>

<footer>This is the footer of the webpage!</footer>