// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-image: image-url('/assets/boats_and_hoes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: blue;
}

h2{
    color: purple;
}

p{
    color: green;
}

.style1 {
  background: url(/assets/boats_and_hoes.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}