// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-image: image-url('/assets/boat_stock_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

h1{
    color: maroon;
    text-align: center;
    font-size: 500%;
    font-family: Apple Chancery;
}

h2{
    color: #701d00;
    font-size: 300%;
    text-align: center;
}

p{
    color: #989b99;
    text-align: center;
}

footer{
    position: fixed;
    bottom:0;
    text-align: center;
    font-size: 400%;
}